/* .navbar{
    align-items: flex-end;
    justify-content: center;
    background-color: brown;
} */
.texts {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
  }